<%= link_to home_path do %>
<p>HOME</p>
<% end %>

<%= @name %>

<h1>Special Moves:</h1>

<ul>
    <li><%= @moves1 %></li>
    <li><%= @moves2 %></li>
    <li><%= @moves3 %></li>
</ul>

<h1>Basic Strategy:</h1>
<p><%= @strat %></p>
