<div class = "container">
  <div class = "col-xs-3">
    <h1>Ryu</h1>
    <%= link_to home_path do %>
    <%= image_tag("gifs/ryu") %>
    <% end %>
    <ul>
      <li>Date of Birth: 7-21-1964</li>
      <li>Height: 5'10"</li>
      <li>Weight: 150lbs</li>
      <li>3-Size: B 44" W 31" H 33"</li>
      <li>Blood Type: O </li>
    </ul>
  </div>


  <div class = "col-xs-3">
    <h1>Ken</h1>
    <%= link_to home_path do %>
    <%= image_tag("gifs/ken") %>
    <% end %>
    <ul>
      <li>Date of Birth: 2-14-1965</li>
      <li>Height: 5'10"</li>
      <li>Weight: 169lbs</li>
      <li>3-Size: B 44" W 32" H 33"</li>
      <li>Blood Type: B </li>
    </ul>
  </div>

  <div class = "col-xs-3">
    <h1>E.Honda</h1>
    <%= link_to home_path do %>
    <%= image_tag("gifs/ehonda") %>
    <% end %>
    <ul>
      <li>Date of Birth: 11-3-1960</li>
      <li>Height: 6'2"</li>
      <li>Weight: 304lbs</li>
      <li>3-Size: B 83" W 70" H 82"</li>
      <li>Blood Type: A </li>
    </ul>
  </div>

  <div class = "col-xs-3">
    <h1>Blanka</h1>
    <%= link_to home_path do %>
    <%= image_tag("gifs/blanka") %>
    <% end %>
    <ul>
      <li>Date of Birth: 2-12-1966</li>
      <li>Height: 6'5"</li>
      <li>Weight: 218lbs</li>
      <li>3-Size: B 77" W 47" H 67"</li>
      <li>Blood Type: B </li>
    </ul>
  </div>

  <div class = "col-xs-3">
    <h1>Guile</h1>
    <%= link_to home_path do %>
    <%= image_tag("gifs/guile") %>
    <% end %>
    <ul>
      <li>Date of Birth: 12-23-1960</li>
      <li>Height: 6'1"</li>
      <li>Weight: 191lbs</li>
      <li>3-Size: B 49" W 32" H 35"</li>
      <li>Blood Type: O </li>
    </ul>
  </div>

  <div class = "col-xs-3">
    <h1>Chun-Li</h1>
    <%= link_to home_path do %>
    <%= image_tag("gifs/chun-li") %>
    <% end %>
    <ul>
      <li>Date of Birth: 3-1-1968</li>
      <li>Height: 5'8"</li>
      <li>Weight: Unknown</li>
      <li>3-Size: B 34" W 22" H 35"</li>
      <li>Blood Type: A </li>
    </ul>
  </div>

  <div class = "col-xs-3">
    <h1>Zangief</h1>
    <%= link_to home_path do %>
    <%= image_tag("gifs/zangief") %>
    <% end %>
    <ul>
      <li>Date of Birth: 6-1-1956</li>
      <li>Height: 7'</li>
      <li>Weight: 256lbs</li>
      <li>3-Size: B 64" W 50" H 59"</li>
      <li>Blood Type: A </li>
    </ul>
  </div>


    <div class = "col-xs-3">
      <h1>Dhalsim</h1>
      <%= link_to home_path do %>
      <%= image_tag("gifs/dhalsim") %>
      <% end %>
      <ul>
        <li>Date of Birth: 11-22-1952</li>
        <li>Height: 5'10"</li>
        <li>Weight: 107lbs</li>
        <li>3-Size: B 42" W 18" H 25"</li>
        <li>Blood Type: O </li>
      </ul>
    </div>


</div>
